<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98661184009-q4hbpajj7b70n1hsf6kvvv88ae3epfgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98661184009-q4hbpajj7b70n1hsf6kvvv88ae3epfgm</string>
	<key>API_KEY</key>
	<string>AIzaSyDC55-6gAIzJPsiXKHndELNe9vdefTUMao</string>
	<key>GCM_SENDER_ID</key>
	<string>98661184009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reliFlutterApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>reli-916f0</string>
	<key>STORAGE_BUCKET</key>
	<string>reli-916f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98661184009:ios:ce87cd87f9fd79cbf67ed8</string>
</dict>
</plist>